env/
venv/
.env/
.venv/
myvenv/
code/
db/
__pycache__/
*.py[cod]
*.class
*.log
*.pot
local_settings.py
db.sqlite3
.flake8
.pylintrc
.perttierrc.toml
note
query_debugger.py
todo.txt
.env
.prettierrc.toml
.pylintrc.bak
**/migrations/**
!**/migrations
!**/migrations/__init__.py
/startbootstrap*
freelance/db.sqlite3.bak
