{% extends "base.html" %}

{% block content %}
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <!-- <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
     src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"
     alt="..." /></div> -->
                <div class="col-md-12">
                    <span><a href="{{ contract.customer.get_absolute_url }}">{{ contract.customer.profile.name|default:contract.customer }}</a></span>
                    <h1 class="display-5 fw-bolder">{{ contract.title }}</h1>
                    <div class="fs-5 mb-5">
                        <span>${{ contract.value }}</span>
                    </div>
                    <p class="lead">{{ contract.information }}</p>
                    <div class="d-flex">
                        <a href="{% url "offer_create" contract.pk %}"
                           class="btn btn-outline-dark flex-shrink-0">Предложить услуги</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
{% endblock content %}
