{% extends "base.html" %}

{% block content %}
    <!-- Page header with logo and tagline-->
    <!-- <header class="py-5 bg-light border-bottom mb-4"> -->
    <!--     <div class="container"> -->
    <!--         <div class="text-center my-5"> -->
    <!--             <h1 class="fw-bolder">Your profile</h1> -->
    <!--             <p class="lead mb-0">This is a profile</p> -->
    <!--         </div> -->
    <!--     </div> -->
    <!-- </header> -->
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4">
                    {% if profile.photo %}
                        <img class="card-img-profile text-center"
                             src="{{ profile.photo.url }}"
                             alt="..." />
                    {% endif %}
                    <div class="card-body">
                        <div class="small text-muted">Registred: {{ profile.user.date_joined|date:"F Y" }}</div>
                        <h2 class="card-title">{{ profile.name|default:profile.user.username }}</h2>
                        <p class="card-text">{{ profile.information|default:"Пользователь ничего о себе не рассказал." }}</p>
                        <!-- <a class="btn btn-primary" href="#!">Read more →</a> -->
                    </div>
                </div>
                <!-- Pagination-->
                <!-- <nav aria-label="Pagination"> -->
                <!--     <hr class="my-0" /> -->
                <!--     <ul class="pagination justify-content-center my-4"> -->
                <!--         <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li> -->
                <!--         <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li> -->
                <!--         <li class="page-item"><a class="page-link" href="#!">2</a></li> -->
                <!--         <li class="page-item"><a class="page-link" href="#!">3</a></li> -->
                <!--         <li class="page-item disabled"><a class="page-link" href="#!">...</a></li> -->
                <!--         <li class="page-item"><a class="page-link" href="#!">15</a></li> -->
                <!--         <li class="page-item"><a class="page-link" href="#!">Older</a></li> -->
                <!--     </ul> -->
                <!-- </nav> -->
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Settings</div>
                    <div class="card-body">
                        <div class="input-group">
                            <button class="btn btn-primary" type="button">Edit profile</button>
                        </div>
                    </div>
                </div>
                {% with  profile.get_categories_performed as categories_performed %}
                    {% if categories_performed %}
                        <!-- Completed contracts in categories widget-->
                        <div class="card mb-4">
                            <div class="card-header">Completed contracts in categories</div>
                            <div class="card-body">
                                <div class="row">
                                    {% for category_pk, category_name, contract_count in categories_performed %}
                                        <div class="col-sm-6">
                                            <ul class="list-unstyled mb-0">
                                                <li>
                                                    <a href="{{ category_pk }}">{{ category_name }} ({{ contract_count }})</a>
                                                </li>
                                            </ul>
                                        </div>
                                    {% empty %}
                                    {% endfor %}
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled mb-0">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
                {% with profile.get_categories_created as categories_created %}
                    {% if categories_created %}
                        <!-- Created contracts in categories widget-->
                        <div class="card mb-4">
                            <div class="card-header">Created contracts in categories</div>
                            <div class="card-body">
                                <div class="row">
                                    {% for category_pk, category_name, contract_count in categories_created %}
                                        <div class="col-sm-6">
                                            <ul class="list-unstyled mb-0">
                                                <li>
                                                    <a href="{{ category_pk }}">{{ category_name }} ({{ contract_count }})</a>
                                                </li>
                                            </ul>
                                        </div>
                                    {% empty %}
                                    {% endfor %}
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled mb-0">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Как со мной связаться</div>
                    <div class="card-body">Данные для связи</div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
