{% extends "base.html" %}

{% block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="login-form">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {{ form.errors }}
                        <div class="col text-center">
                            <button type="submit" class="btn btn-black">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- Forgive me... -->
        <br />
        <br />
        <!-- Forgive me... -->
    {% endblock content %}
